<!DOCTYPE html>
<html lang="en" ng-app="FoodApp">

<head>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!-- Dependencies -->
    <script src="../Style%20Library/JSDependency/axios.min.js"></script>
    <script src="../Style%20Library/JSDependency/jquery.min.js"></script>
    <script src="../Style%20Library/JSDependency/angular.min.js"></script>
    <script src="../Style%20Library/JSDependency/uuid.min.js"></script>
    <script src="../Style%20Library/JSDependency/BaseModule.js"></script>
    <script src="../Style%20Library/JSDependency/bootstrap.bundle.min.js"></script>

    <!-- Select 2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Controller -->
    <script src="../Style%20Library/WebPart/FoodApp/Food.Controller.js"></script>
</head>

<body>
    <div class="container">
        <div class="user-info-container">
            <section ng-controller="UserInfoController">
                <h2 class="title">Requester Information</h2>
                <hr>
                <!-- Show loader if data is not loaded yet -->
                <div ng-show="loading" class="text-center">
                    <div class="spinner-border" role="status">
                    </div>
                </div>
                <div ng-hide="loading">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="user-info-label">Name: <span class="user-info-data">{{ userInfo.name }}</span></p>
                        </div>
                        <div class="col-md-6">
                            <p class="user-info-label">Email: <span class="user-info-data">{{ userInfo.email }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="user-info-label">Line Manager: <span class="user-info-data">{{
                                    userInfo.LineManagerName }}</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="user-info-label">Dept ID: <span class="user-info-data">{{ userInfo.deptId
                                    }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="user-info-label">Phone: <span class="user-info-data">{{ userInfo.phone }}</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="user-info-label">Designation: <span class="user-info-data">{{ userInfo.designation
                                    }}</span></p>
                        </div>
                    </div>
            </section>
        </div>
    </div>
    <main ng-controller="MainController as vm" class="container">
        <div class="user-info-container mt-3">
            <h2 class="title">Food Request Form</h2>
            <hr>
            <section>
                <div class="row">
                    <div class="col-md-6 d-flex gap-3 align-items-center">
                        <label class="user-info-label" for="onBehalf">On Behalf: </label>
                        <span class="user-info-data"
                            ng-show="vm.ReadOnly && !vm.ChangeMode">{{vm.selectedOnBehalfName}}</span>
                        <div ng-hide="vm.hideSelect2">
                            <select class="form-select" style="width: 300px;" id="onBehalf"
                                ng-model="vm.selectedOnBehalf" ng-change="vm.onBehalfChange()">
                                <option value=""></option>
                                <option ng-repeat="user in vm.onBehalfOf" value="{{user.email}}">{{user.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div ng-show="vm.onBehalfEmail" class="col-md-6">
                        <p class="user-info-label">Email: <span class="user-info-data">{{vm.onBehalfEmail}}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div ng-show="vm.onBehalfLineManager" class="col-md-6">
                        <p class="user-info-label">Line Manager: <span class="user-info-data">{{
                                vm.onBehalfLineManager }}</span>
                        </p>
                    </div>
                    <div ng-show="vm.onBehalfDeptId" class="col-md-6">
                        <p class="user-info-label">Dept ID: <span class="user-info-data">{{ vm.onBehalfDeptId }}</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div ng-show="vm.onBehalfPhone" class="col-md-6">
                        <p class="user-info-label">Phone: <span class="user-info-data">{{ vm.onBehalfPhone }}</span>
                        </p>
                    </div>
                    <div ng-show="vm.onBehalfDesignation" class="col-md-6">
                        <p class="user-info-label">Designation: <span class="user-info-data">{{
                                vm.onBehalfDesignation }}</span></p>
                    </div>
                </div>
            </section>
            <hr>

            <section>
                <div class="row">
                    <div class="col-md-4 d-flex align-items-center gap-3 mb-3">
                        <label for="agenda"  >Agenda:</label>
                        <span ng-show="vm.ReadOnly && !vm.ChangeMode" class="user-info-data">{{vm.agenda}}</span>
                        <input ng-hide="vm.ReadOnly && !vm.ChangeMode" class="form-control"
                                 style="max-width: 150px;" type="text" ng-model="vm.agenda">
                    </div>
    
                    <div class="col-md-4 d-flex align-items-center gap-3 mb-3">
                        <label for="participantsNumber"  >Participants Number:</label>
                        <span ng-show="vm.ReadOnly && !vm.ChangeMode" class="user-info-data">{{vm.participantsNumber}}</span>
                        <input ng-hide="vm.ReadOnly && !vm.ChangeMode" class="form-control"
                                 style="max-width: 150px;" type="text" ng-model="vm.participantsNumber">
                    </div>
    
                    <div class="col-md-4 d-flex align-items-center gap-3 mb-3">
                        <label for="meetingRoomNameDropdown"  >Meeting Room:</label>
                        <span ng-show="vm.ReadOnly && !vm.ChangeMode" class="user-info-data">{{vm.selectedmeetingRoomName}}</span>
                        <select ng-hide="vm.ReadOnly && !vm.ChangeMode" class="form-select" id="meetingRoomNameDropdown"
                            ng-model="vm.selectedmeetingRoomName">
                            <option value="" selected>Select Meeting Room</option>
                            <option value="Neopharma">Neopharma</option>
                            <option value="Opsonin">Opsonin</option>
                        </select>
                    </div>
    
                   
                </div>
                
                <div class="row">
                    <div class="col-md-4 d-flex align-items-center gap-3 mb-3">
                        <label for="meetingDate"  >Meeting Date:</label>
                        <span ng-show="vm.ReadOnly && !vm.ChangeMode" class="user-info-data">{{vm.meetingDate}}</span>
                        <input ng-hide="vm.ReadOnly && !vm.ChangeMode" class="form-control"
                                 style="max-width: 150px;" type="date" ng-model="vm.meetingDate">
                    </div>
                    <div class="col-md-4 d-flex align-items-center gap-3 mb-3">
                        <label for="meetingTime"  >Meeting Time:</label>
                        <span ng-show="vm.ReadOnly && !vm.ChangeMode" class="user-info-data">{{vm.meetingTime}}</span>
                        <input ng-hide="vm.ReadOnly && !vm.ChangeMode" class="form-control"
                                 style="max-width: 150px;" type="time" ng-model="vm.meetingTime">
                    </div>

                    <div class="col-md-4 d-flex align-items-center gap-3 mb-3">
                        <label for="costCenter"  >Cost Center:</label>
                        <span ng-show="vm.ReadOnly && !vm.ChangeMode" class="user-info-data">{{vm.costCenter}}</span>
                        <input ng-hide="vm.ReadOnly && !vm.ChangeMode" class="form-control"
                                 style="max-width: 150px;" type="number" ng-model="vm.costCenter">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 d-flex align-items-center gap-3 mb-3">
                        <label for="foodCategoryDropdown"  >Food Category:</label>
                        <span ng-show="vm.ReadOnly && !vm.ChangeMode" class="user-info-data">{{vm.selectedfoodCategory}}</span>
                        <select ng-hide="vm.ReadOnly && !vm.ChangeMode" class="form-select" id="foodCategoryDropdown"
                            ng-model="vm.selectedfoodCategory">
                            <option value="" selected>Select Food Category</option>
                            <option value="Category 1">Category 1</option>
                            <option value="Category 2">Category 2</option>
                        </select>
                    </div>

                    <div class="col-md-4 d-flex align-items-center gap-3 mb-3">
                        <label for="foodSetMenuDropdown"  >Food Set Menu:</label>
                        <span ng-show="vm.ReadOnly && !vm.ChangeMode" class="user-info-data">{{vm.selectedfoodSetMenu}}</span>
                        <select ng-hide="vm.ReadOnly && !vm.ChangeMode" class="form-select" id="foodSetMenuDropdown"
                            ng-model="vm.selectedfoodSetMenu">
                            <option value="" selected>Select Food Set Menu</option>
                            <option value="Set Menu 1">Set Menu 1</option>
                            <option value="Set Menu 2">Set Menu 2</option>
                        </select>
                    </div>

                   
                    <div class="col-md-4 d-flex align-items-center gap-3 mb-3">
                        <label for="gLNumber"  >GL Number</label>
                        <span ng-show="vm.ReadOnly && !vm.ChangeMode" class="user-info-data">{{vm.gLNumber}}  {{vm.status}} {{vm.Status}}</span>
                        <input ng-hide="vm.ReadOnly && !vm.ChangeMode" class="form-control"
                                 style="max-width: 150px;" type="number" ng-model="vm.gLNumber">
                    </div>
                </div>
                
               
            </section>    
        </div>

        <div class="user-info-container mt-3">
            <section>
                <div class="row">

                    <div ng-show="vm.ReadOnly && !vm.ChangeMode"  class="col-md-4 d-flex align-items-center gap-3 mb-3">
                        <label for="plannedCost">Planned Cost</label>
                        <span ng-show="vm.ReadOnly && !vm.ChangeMode" class="user-info-data">{{vm.plannedCost}}</span>
                    </div>

                    <div class="col-md-4 d-flex align-items-center gap-3 mb-3">
                        <label for="actualCost">Actual Cost</label>
                        <span class="user-info-data">{{vm.actualCost}}</span>
                        <input class="form-control"
                                 style="max-width: 150px;" type="number" ng-model="vm.actualCost">
                    </div>
                </div>

            </section>
        </div>
       
        <!--  Attachment -->
        <div ng-show="vm.attachments" class="user-info-container mt-3">
            <h2 class="title">Attachment</h2>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>#SL</th>
                        <th>FileName</th>
                        <th>Author</th>
                        <th>Date & Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.attachments track by $index">
                        <td># {{$index + 1}}</td>
                        <td><a href="{{item.Url}}" target="_blank">{{item.Name}}</a></td>
                        <td>{{item.Author}}</td>
                        <td>{{item.Date | date: 'dd/MM/yyyy hh:mm a'}}</td>
                    </tr>
            </table>
        </div>
        <!--  Request History-->
        <div ng-show="vm.requestHistory" class="user-info-container mt-3">
            <h2 class="title">Request History</h2>
            <hr>
            <!-- Current Approvar -->
            <section class="d-flex justify-content-between mb-3">
                <div ng-show="vm.currentPendingWith" class="d-flex align-items-center">
                    <label for="floorDropdown"  >Current Approvar:</label>
                    <span style="margin-left: 5px;" class="user-info-data">{{vm.currentPendingWith}}</span>
                </div>
                <!-- Next Approvar -->
                <div ng-show="vm.nextPendingWith" class="d-flex align-items-center">
                    <label for="floorDropdown"  >Next Approvar:</label>
                    <span style="margin-left: 5px;" class="user-info-data">{{vm.nextPendingWith}}</span>
                </div>
            </section>
            <table class="table">
                <thead>
                    <tr>
                        <th>#SL</th>
                        <th>Status</th>
                        <th>Comment</th>
                        <th>Author</th>
                        <th>Date & Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.requestHistory track by $index">
                        <td># {{$index + 1}}</td>
                        <td>{{item.Status}}</td>
                        <td>{{item.Comment}}</td>
                        <td>{{item.Author}}</td>
                        <td>{{item.Date | date: 'dd/MM/yyyy hh:mm a'}}</td>
                    </tr>
            </table>
        </div>

        <section ng-hide="vm.currentStatus === 'Closed' ||vm.currentStatus === 'Rejected'"
            class="d-flex gap-3 mt-3 justify-content-between">
            <!-- comment box -->
            <div ng-show="vm.showCommentBox">
                <div>
                    <div class="files" id="attachFilesContainer" ng-model="attachment2">
                        <input id="infringementFiles" type="file" class="form-control" style="width: 300px;"
                            title="Any attachment name including any special charecter like ' & . will not be uploded" />
                    </div>
                </div>
                <div>
                    <label for="comment">
                        Comment:
                    </label>
                    <textarea class="form-control" style="width: 300px;" id="comment" ng-model="vm.comment"></textarea>
                </div>
            </div>
            <!-- Button trigger modal -->
            <button ng-show="!vm.ChangeMode && !vm.ReadOnly" ng-click="vm.submitRequest()" type="button"
                class="btn btn-primary  mt-3">
                Submit
            </button>
            <button ng-show="vm.ChangeMode" ng-click="vm.updateRequest()" type="button" class="btn btn-primary  mt-3">
                Update
            </button>
            <!-- Approve Btn, Change Request, Reject -->
            <div ng-show="vm.showApproveBtn" class="d-flex gap-3">
                <button ng-click="vm.updateStatus('Approve')" type="button" class="btn btn-success  mt-3">
                    Approve
                </button>
                <button ng-click="vm.updateStatus('Change Requested')" type="button" class="btn btn-warning  mt-3">
                    Change Request
                </button>
                <button ng-click="vm.updateStatus('Rejected')" type="button" class="btn btn-danger  mt-3">
                    Reject
                </button>
            </div>
            <!-- close -->
            <button ng-show="vm.showCloseBtn" ng-click="vm.updateStatus('Close')" type="button"
                class="btn btn-success  mt-3">
                Close
            </button>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="SuccessModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <section ng-show="vm.loading">
                        <div class="d-flex justify-content-center  p-5">
                            <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </section>
                    <section ng-hide="vm.loading">
                        <div class="modal-body">
                            <h6>
                                {{vm.ModalMessage}}
                            </h6>
                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-show="vm.showMCloseBtn" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <button type="button" ng-hide="vm.showMCloseBtn" onclick="window.location.reload()"
                                class="btn btn-primary">OK</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
</body>

</html>

<style>
    div[id^="s4-titlerow"] {
        display: none !important;
    }

    div[id^="sideNavBox"] {
        display: none !important;
    }

    div[id^='titleAreaRow'] {
        display: none !important;
    }

    div[id^='contentBox'] {
        margin: 10px !important;
    }

    body {
        background-color: #f8f9fa;
    }

    .user-info-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
    }

    .user-info-label {
        font-weight: bold;
        color: #007bff;
    }

    .user-info-data {
        color: #495057;
    }

    .title {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 30px;
        color: #007bff;
    }

    .btn {
        height: 38px;
    }
</style>
<script>
    $(document).ready(function () {
        $('#onBehalf').select2({
            placeholder: "Select User",
            width: 'resolve'
        });
    });
</script>